<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PrivateRepo" value="http://nexus-service.nexus.svc.cluster.local:8081/repository/mib-nugat-group/" />
  </packageSources>

  <packageSourceCredentials>
    <PrivateRepo>
      <add key="Username" value="${env.NEXUS_USERNAME}" />
      <add key="ClearTextPassword" value="${env.NEXUS_PASSWORD}" />
    </PrivateRepo>
  </packageSourceCredentials>

  <config>
    <add key="globalPackagesFolder" value="Packages" />
    <add key="repositoryPath" value="." />
  </config>
</configuration>
